{% extends 'base.html' %}

{% block content %}

<div class="container pt-5">
    <div class="col-lg-5 shadow mx-auto mb-2">
    <div class="alert alert-danger " role="alert">
        <h4>Login into Account</h4>
    </div>
    <div class="p-4">
        <form action='/login/' method="post">
            {% csrf_token %}
            {{form.as_p}}
            <hr>
            <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
</div>
</div>

{% endblock content %}



